<%= form_for @dog, url: register_dog_path  do |f| %>

    <% if @dog.errors.any? %>
        <div id="error_explanation">
          <h2>
            Please correct the following <%= pluralize(@dog.errors.count, 'error') %>:
          </h2>
          <ul>
            <% @dog.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <label>Owner's name</label>
      <input class="form-control" value="<%= @dog.owner.name %>" readonly>
    </div>

    <div class="form-group">
      <%= f.label :name, "Dog's name", class: 'control-label' %>
      <%= f.text_field :name, class: 'form-control', :readonly => true %>
    </div>


    <div class="form-group">
      <label>Registration period</label>

      <% @registration_periods.each do |reg| %>
          <div class="radio">
            <label>
              <%= f.radio_button :period, reg.length %>
              <%= reg.length %> months
            </label>
          </div>
      <% end %>
    </div>

    <p>
      <%= f.submit "Register", class: 'btn btn-default' %>
    </p>
<% end %>